@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    min-width: 100%;
    background-image: url('https://cdn.discordapp.com/attachments/1098759263914041385/1115815924851802163/e726f02f23f59b0c7442428b990e21a3.png');
}


.cabecalho {
    width: 100%;
    height: 100px;
    background-color: #2f0908;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.322);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.452);
    margin-bottom: 10px;
    position: relative;
}

.logo {
    width: 150px;
    margin-top: -15px;
    
}


.cabecalho .img-home {
    margin-left: 15px;
    padding: 0 5px;
    
}
.cabecalho .nav ul {
    list-style: none;
    
}

.cabecalho ul li {
    padding: 0 5px;
    display: inline;
}

/* ----------Conteudo----------*/

.container {
    margin: auto;
    min-height: 83vh;
    min-width: 40%;
    max-width: 60%;
    /* background-color: lightgray; */
    color: white;
}


/* ----------Final----------*/


.final {
    background-color: darkgray;
    min-width: 60vw;
    height: 80px;
    margin-top: 10px;
    padding: 5px 0;
}

.redes .links {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 20px;
}

.redes .links li a{
    text-decoration: none;
    color: white;
    
}


.final #credts {
    bottom: 0;
    background-color: black;
    width: 100%;
    color: white;
    text-align: center;
    display: block;
    padding: 2px 0;
    margin-top: 3px;
}