@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------ Pagina ------*/
html, body {
    width: 100%;
    height: 100vh;
    background-color: black;
}

/*----- Cabeçalho ------*/

.cabecalho {
    width: 100%;
    height: 100px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabecalho .logo {
    width: 300px;
    margin-top: 5px;
    padding: 5px;
}

.cabecalho .nav {
    display: none;
}

/*------ Principal ------*/

.container {
    width: 95%;
    background-color: white;
    margin: 5px auto;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.377);
    border: 5px solid red;
}



.container article p {
    margin: 0;
    padding: 5px;
    text-align: justify;
    text-indent: 10px;
    
}

.imagens {
    width: 250px;
    padding: 0;
   display: block;
   margin: 5px auto;
}



/*----- Roda pé ------*/

.final {
    background-color: darkgray;
    margin-top: 10px;
    
}

.final .redes ul {
    display: flex;
    list-style: none;
    margin-left: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.final .redes ul li {
    margin: 3px;
    
}

.final .redes ul li a {
    font-size: 0.85em;
    text-decoration: none;
}
.final #credts {
    background-color: black;
    color: white;
    text-align: center;
    padding: 2px;
    margin: 0;
}



